<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109004766417-qsq0tp0tg4ab3ojb0du3ine5v3f9l1pn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109004766417-qsq0tp0tg4ab3ojb0du3ine5v3f9l1pn</string>
	<key>API_KEY</key>
	<string>AIzaSyCykMsmlptN46fRqysVmARI3eOF7QoTbcI</string>
	<key>GCM_SENDER_ID</key>
	<string>109004766417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thinslices.solarisdemo</string>
	<key>PROJECT_ID</key>
	<string>ivorysolarisdemoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ivorysolarisdemoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109004766417:ios:1b1c4bcfd81469b60f99f0</string>
</dict>
</plist>